html,body {
  height:100%;
}

body {
  width: 100%;
}

#top_border, #bottom_border, #left_border, #right_border {
	background:#898980 ;
	position: fixed;
}

#left_border, #right_border {
	top: 0; bottom: 0;
	width: 17px;
}

#left_border {
  left: 0;
}

#right_border {
  right: 0;
}

#top_border, #bottom_border {
	left: 0; right: 0;
	height: 17px;
}

#top_border {
  top: 0;
}

#bottom_border {
  bottom: 0;
}

h1 {
  color: #E7DFDD;

  font-size: 120px;
}

p {
  background-color: #E7DFDD;
  color: #000;
}

hr {
  border-top: 5px double #E7DFDD;
}

ul {
  background-color: #E7DFDD;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18pt;
  max-width: 350px;

}
ol {
  background-color: #E7DFDD;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18pt;
  max-width: 350px;

}

.container-fluid {
  min-height: 100%;
  background-image: url('../img/bg.png');
  background-attachment: fixed;
}

.column {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1200px;
}

#name {
  margin-top: 5%;
}

#name h1 {
  font-size: 62pt;
  font-family: 'Lobster', cursive;
  margin-bottom: 0;
}

#name h2 {
  color: #898980;
  font-family: 'Oleo Script', cursive;
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 50px;
}

#workpanel {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

#interests {
  background-color: #898980;
  color:  #E7DFDD;
  padding-left: 10px;
}

.panel .panel-info {
  text-align: center;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.panel .panel-info p {
  font-size: 13pt;
  padding-top: 15px;
  text-align: left;
  margin-bottom: 0;
}

.panel .panel-info hr {
  border-top: 2px dotted #000;
  margin: 5px;
}

.panel .panel-info .tools {
  font-weight: 16pt;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}


.panel .panel-info .panel-body {
  background-color: #E7DFDD;
  border: 0;
  border-bottom-right-radius: 20px;
}

.panel .panel-info .panel-heading {

  background: #898980; /* Old browsers */
  color: #E7DFDD;
  font-family: 'Average Sans', sans-serif;
  border: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
}

.panel .panel-info .panel-heading h2 {
  font-size: 16pt;
}

.panel .panel-info .panel-heading:hover {
  background-color: #4717F6;
}

#bio {
  margin-top: 50px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
}

#bio p {
  font-family: 'Archivo Black', sans-serif;
  font-size: 24pt;
}

#meTyping {
  width: 300px;
  border-radius: 20%;
  float: right;
}

.col-md-8 p {
  margin-right: 10px;
}
ol{
  font-size: 24px;
}
.row{
  background-color: #898980;
}
